langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-core
langchain-text-splitters
faiss-cpu
sentence-transformers
groq
huggingface-hub
transformers
pypdf
ragas
datasets
fastapi
uvicorn[standard]
pydantic
streamlit
pytest
pytest-cov
httpx
ruff
python-dotenv